/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}


/* Background colors */

.bg-color-main {
    background-color: #11e084;
}


/* Logo */

nav .brand-logo {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    padding: 0 0 0 2%;
}


/* Footer */

footer a {
    color: white;
}

.social i {
    font-size: 200%;
    padding-left: 3%;
}

.contact i {
    font-size: 200%;
    padding-right: 3%;
}


